/vercel-deploy
.DS_Store
.next
node_modules
dist
out
coverage
.vercel
.turbo
.swc
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.env
.env.*
!.env.example
!.env.stage
!.env.production
!.env.mainnet
.idea
tsconfig.tsbuildinfo
